.form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: 8px;
    padding: 10px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

.input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
}